body {
	font-family: Verdana, Sans-Serif;
	font-size: 12px;
}
h1 {
	font-size: 15px;
}
h2 {
	font-size: 13px;
}
div#container {
	margin: 0 auto;
	width: 800px;
	height: 500px;
	border: 1px solid #000000;
}

div#filters {
	float: left;
	padding: 10px;
	width: 205px;
	height: 480px;
	border-right: 1px solid #000000;
}

div#selection {
	float: left;
	width: 300px;
	height: 500px;
	border-right: 1px solid #000000;
}

div#businessrules {
	margin-top: 15px;
	width: 300px;
	height: 300px;
	overflow-y: scroll;
	border-top: 1px solid #000000;
	border-bottom: 1px solid #000000;
	
}